.profile-img {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
}

.profile-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 20px !important;
}